
/*h1, h2, h3, h4, h5, h6, p{
    text-align: center;
}*/

 body{

  background-repeat: no-repeat, no-repeat, repeat;
  background-color: #000000;
}

p{
  color: darkgray;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #999;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
  border-radius: 10px;
}

/*For JAVA*/
body {
  padding-top: 3.5rem;
}

.transparent {
  opacity: 0.0;
}

.non-transparent {
  opacity: 1.0;
}